<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/mngr/styles.css">
  <title>cslckrmngr - login</title>
</head>
<body>
  <div class="login-panel">
    <h1>Login</h1>

    <div class="info-box"></div>
    <div>
      <input type="text" class="username" placeholder="Username..." required autocomplete="username">
      <input type="password" class="password" placeholder="Password..." required autocomplete="new-password">

      <button class="submit-btn">Get Started</button>
    </div>

    <div class="panel-footer">
      <p>Need an account? <a href="/mngr/register">Get Started!</a></p>
    </div>
  </div>

  <script src="/resources/mngr/login/script.js"></script>
</body>
</html>
