<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/mngr/styles.css">
  <title>cslckrmngr - register</title>
</head>
<body>
  <div class="register-panel">
    <h1>Register</h1>

    <div class="info-box"></div>
    <div>
      <input type="text" class="username" placeholder="Username..." autocomplete="username">
      <input type="password" class="password" placeholder="Password..." autocomplete="new-password">

      <button class="submit-btn">Get Started</button>
    </div>

    <div class="panel-footer">
      <p>Already have an account? <a href="/mngr/login">Log In</a></p>
    </div>
  </div>

  <script src="/resources/mngr/register/script.js"></script>
</body>
</html>
