<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/styles.css">
  <title>cslckrsrvr</title>
</head>
<body>
  <h1 class="heading"><span>c</span><span>s</span><span>l</span><span>c</span><span>k</span><span>r</span></h1>
  
  <div class="container">
    <h1 class="countdown">0</h1>
    <h2>enter hex combination</h2>
    <input type="password" placeholder="Code...">
  </div>

  <script src="resources/script.js"></script>
</body>
</html>